<p>Hello there, this is our image and csv file</p>

<%= image_tag attachments['rails.png'].url, alt: 'My Photo', class: 'photos' %>

<%= link_to 'Download CSV', attachments['data.csv'].url, class: 'csv-link' %>



