/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* application.css */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Styles for the footer */
footer {
    background-color: #333; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 5px; /* Padding around the content within the footer */
    text-align: center; /* Center-align the text within the footer */
  }
  /* Optionally, you can add styles for links within the footer */
  footer a {
    color: #fff; /* Link color */
    /* Remove underline from links */
  }
 
  /* Optionally, add additional styles for specific elements within the footer */
  
  .signupForm input{
    outline: none;
  }